/* 하늘 배경 설정 */
.sky-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/sky.jpg"); /* 하늘 이미지 경로 */
  background-size: cover; /* 이미지를 화면에 맞게 조정 */
  background-position: center; /* 배경 중앙 정렬 */
  overflow: hidden; /* 파도가 벗어나지 않게 처리 */
}

.css-waves {
  position: relative;
  width: 100%;
  height: 280px;
  margin-bottom: -20px;
  min-height: 100px;
  max-height: 400px;
  top: 665;
}

/* Here we declare the SVG node that we wish to animate. */

.animated-waves > use {
  animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.animated-waves > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.animated-waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.animated-waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.animated-waves > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.animated-waves > use:nth-child(4) {
  animation-delay: -3s;
  animation-duration: 15s;
}
@keyframes infinite-waves {
  0% {
    transform: translate3d(90px, 0, 0);
  }
  100% {
    transform: translate3d(-85px, 0, 0);
  }
}

/*배 관련*/
.boat {
  position: absolute;
  top: 560px;
  left: 15%;
  transform: translateX(-50%);
  width: 320px;
  animation: float 5s ease-in-out infinite;
}

/* 배의 위아래로 흔들림을 표현하는 애니메이션 */
@keyframes float {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, -20px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes float {
  0% {
    transform: translate(-50%, 0px);
  }
  25% {
    transform: translate(-45%, -20px);
  }
  50% {
    transform: translate(-50%, 0px);
  }
  75% {
    transform: translate(-55%, -20px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

/* 공통 구름 스타일 */
.cloud {
  position: absolute;
  opacity: 0.8;
  height: auto; /* 비율 유지 */
  animation: move-clouds 30s linear forwards; /* 이동 애니메이션 (forwards로 최종 위치 유지) */
}

@keyframes move-clouds {
  0% {
    transform: translateX(0); /* 오른쪽 화면 바깥에서 시작 */
  }
  100% {
    transform: translateX(-200vw); /* 화면 왼쪽을 넘어 이동 */
  }
}

/* 타이틀 이미지 고정 스타일 */
.title_ {
  position: fixed; /* 화면에 고정 */
  top: 0; /* 화면 상단에서 10px 내려서 배치 */
  right: 0; /* 화면 오른쪽에서 10px 안쪽에 배치 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */

  opacity: 0; /* 초기 상태에서 숨김 */
  animation: fadeIn 2s ease-in forwards; /* 2초 동안 fade-in 효과 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
